<!-- Page Footer-->
<footer class="section footer-classic context-dark">
    <div class="container">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Maintenance Request</a></li>
            <li><a href="#">Pay Rent</a></li>
            <li><a href="#">Arabic</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <ul>
            <li>
                <!-- Rights-->
                <p>
                    <span>©&nbsp;</span>
                    <span>2020</span>
                    <span>&nbsp;</span>
                    <span>Al-Khalid</span>
                    <span>&nbsp;</span>
                    <a href="#">Privacy Policy</a>
                    <span>&nbsp;</span>
                    <a href="mailto:info@alkhalid.com">info@alkhalid.com</a>
                </p>
            </li>
        </ul>
    </div>
</footer>