<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <div class="row align-item-center">
            <div class="col-md-4">
                <div class="logo">
                    <img src="~/Content/images/al_khalid-logo.png">
                    <span>Al-Khalid</span>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="menu d-flex justify-content-end align-item-center">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="@Url.Action("Index", "Maintenance")">Maintenance Request</a></li>
                    <li><a href="@Url.Action("Index", "Rent")">Pay Rent</a></li>
                    <li><a href="#">Arabic</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>