@using ARMvc.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Site Title-->
    <title>@Html.Resource("AlKhalid")</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- Stylesheets-->
    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700%7CRubik:300,300i,500,700,900%7CMontserrat:400,700"> -->
    <link rel="stylesheet" href="~/Content/css/fonts.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body>
    @{ Html.RenderPartial("_HeaderPartial"); }

    <main role="main">
        @RenderBody()
    </main>

    @{ Html.RenderPartial("_FooterPartial"); }
    @*<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js'></script>*@
    <script src="~/Scripts/knockout/knockout-3.5.1.js"></script>
    <!-- Javascript-->
    <script src='~/Scripts/jquery.min.js'></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
