
@{
}
<section class="section">
    <div class="Banner-slider">
        <div class="row">
            <div class="col-lg-12"><h2>Maintenance Request Form</h2></div>
        </div>
        <div class="row">
            <div class="col-lg-3">Apartment/Shop Name</div>
            <div class="col-lg-3"><input style="width:100%" type="text" /></div>
        </div>
        <div class="row">
            <div class="col-lg-3">Address</div>
            <div class="col-lg-3"><input style="width:100%" type="text" /></div>
        </div>
        <div class="row">
            <div class="col-lg-3">Maintenance Note</div>
            <div class="col-lg-3"><textarea style="width:100%" type="text"></textarea></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3"><input type="submit" value="Submit your request" /></div>
        </div>
    </div>
</section>