@model AlKhalidModels.MaintenanceModel
@using ARMvc.Helpers;

<h2>@Html.Resource("MaintenanceSummary")</h2>

@if (Model.IsRequested)
{
    <div>@Html.Resource("MaintenanceSummarySuccess")@Model.RequestReffNo</div>
}
else
{
    <div>@Html.Resource("MaintenanceSummaryFail")</div>
}