@charset "UTF-8";
a:focus,
button:focus {
	outline: none !important;
}
button::-moz-focus-inner {
	border: 0;
}
*:focus {
	outline: none;
}
button {
	outline: none;
}
p {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
html p a:hover {
	text-decoration: none;
}
body {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.57143;
	font-weight: 400;
	color: #151515;
	background-color: #fff;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}
a {
	transition: all 0.3s ease-in-out;
}

a, a:focus, a:active, a:hover {
	text-decoration: none;
}

a, a:focus, a:active {
	color: #00B9D4;
}

a:hover {
	color: #007688;
}

a[href*='mailto'] {
	white-space: nowrap;
}
h1, h3, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	color: #fff;
}
h1 {
	font-size: 32px;
	line-height: 1.3;
	letter-spacing: .01em;
	width: 100%;
}
h3 {
	font-size: 22px;
	line-height: 1.5;
	font-weight: 300;
	width: 100%;
}
h6 {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.57143;
	text-transform: uppercase;
	letter-spacing: .35em;
	color: #fff;
	width: 100%;
}
p {
	letter-spacing: .05em;
	width: 100%;
}
* + p {
	margin-top: 15px;
}

* + h1 {
	margin-top: 5px;
}

* + h3 {
	margin-top: 5px;
}

header.page-header{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	background: #fff;
}
.logo{
	display: flex;
    align-items: center;
}
.logo img{
	width: 50px;
	height: auto;
	margin-right: 10px;
}
.logo span{
	font-size: 50px;
	line-height: 50px;
    color: #d2ac67;
    font-weight: 700;
    text-transform: uppercase;
}
.menu{
	display: flex;
	flex-wrap: wrap;
}
.menu li a{
	line-height: 50px;
	font-size: 15px;
	padding: 0 15px;
	color: #000;
}
.menu li a:hover, .menu li.active a{
	color: #d2ac67;
}

.context-dark .rights a {
	color: #fff;
}

.context-dark .rights a:hover {
	color: #00B9D4;
}

.list-wrap {
	border: .1px solid transparent;
}

.list-nav {
	margin-bottom: -10px;
	margin-left: -30px;
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: .025em;
	color: #151515;
}

.list-nav > * {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 30px;
}

.list-nav li {
	display: inline-block;
}

.list-nav button {
	background: none;
	border: none;
	display: inline-block;
	padding: 0;
	outline: none;
	outline-offset: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

.list-nav button::-moz-focus-inner {
	border: none;
	padding: 0;
}

.list-nav a,
.list-nav button {
	color: inherit;
	transition: .22s;
}

.list-nav a:hover,
.list-nav button:hover {
	color: #00B9D4;
}

.context-dark .list-nav {
	color: #fff;
}

.list-bordered {
	margin-left: -15px;
	margin-right: -15px;
	letter-spacing: .05em;
}

.list-bordered > * {
	padding-left: 15px;
	padding-right: 15px;
}

.list-bordered li {
	position: relative;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
}

.list-bordered a {
	color: inherit;
}

.list-bordered a:hover {
	color: #00B9D4;
}

.context-dark .list-bordered {
	color: rgba(255, 255, 255, 0.5);
}

.context-dark .list-bordered li:not(:last-child)::after {
	background: rgba(255, 255, 255, 0.2);
}
.Banner-slider {
	position: relative;
	overflow: hidden;
	background: #002045;
	color: #fff;
	/*height: calc(100vh - 80px);*/
	height: 600px;
}

.Banner-slider .contentSection {
	position: absolute;
	top: calc(50% - 200px);
	z-index: 1;
	overflow: hidden;
	padding: 50px;
	box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 32, 69, 0.93);
	background-image: linear-gradient(-34deg, #d2ac67 0%, #000000 110%);
	width: auto;
	max-width: 50%;
	height: 400px;
	color: #fff;
}
.CtaBtn{
	width: 100%;
	padding-top: 20px;
}
.CtaBtn a{
	display: inline-block;
	background: #000;
	color: #fff;
	margin-right: 10px;
	padding: 0 25px;
    min-width: 160px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    line-height: 50px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    text-transform: uppercase;
}

.CtaBtn a:hover {
  background-color: #d2ac67;
}
.Banner-slider .carousel-parent-shape {
	position: absolute;
	left: 70%;
	transform: translate3d(-70%, 0, 0);
	min-width: 100%;
	fill: #d2ac67;
	opacity: .4;
}
.carousel-item {
  /*height: calc(100vh - 80px);*/
  height: 600px;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.NewsFeed{
	width:100%;
	margin-top: 20px;
	height: auto;
    min-height: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}
.NewsFeed .carousel-item {
    height: auto;
    min-height: 10px;
    text-align: center;
    background:no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Pay Rent Page Start here*/
.PayPage{
	width: 100%;
}
.InnerTittle{
	height: 150px;
	width: 100%;
	background: url(../images/bg-01.jpg) no-repeat center center;
	background-size: cover;
}
.OverLayBg{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.InnerTittle h2{
	color: #fff;
}
.DeatailsSec{
	width: 100%;
	padding: 30px 0;
}
.TableBox{
	padding: 18px;
	background: #ebeeef;
	border-radius: 10px;
}
.TableBox .row{
	margin-right: 0;
	margin-left: 0;
	font-size: 14px;
	text-align: center;

}
.TableBox .row>div{
   padding: 0px 15px;
   border-right: 1px solid #ebeeef;
   height: 43px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.TableBox .row:nth-child(even) {background: #efe6d6}
.TableBox .row:nth-child(odd) {background: #ccc}
.TableBox .row.HeadRow{
	font-weight: bold;
	background: #d2ac67;
	color: #000;
}
.TableBox .row>div span{
	padding: 0px 15px;
	font-size: 12px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	font-weight: 400;
	background: #000;
	border-radius: 20px;
	cursor: pointer;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.TableBox .row>div span:hover{
	background: #d2ac67;
}
.TableBox .row>div span.selected, .TableBox .row>div span.Paid{
	background: rgba(210, 172, 103, 0.8);
}
.AmountSec{
	padding-top: 30px;
}
.AmountSec h3{
	margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.AmountSec label{
	width: 150px;
	padding-right: 10px;
	font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.AmountSec label span.Required{
	color: red;
}
.AmountSec input[type="text"]{
	height: 35px;
	background: #efecec;
	width: 150px;
	border: 0;
	padding: 0 15px 0 10px;
	text-transform: uppercase;
	font-weight: 500;
}
.AmountSec button{
	display: inline-block;
	background: #d2ac67;
	color: #fff;
	margin-right: 10px;
	padding: 0 25px;
    min-width: 160px;
    height: 50px;
    border:none;
    border-radius: 25px;
    font-size: 14px;
    line-height: 50px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    text-transform: uppercase;
}

.AmountSec button:hover {
  background-color: #000;
}
.Hist_Transac{
	width: 100%;
	padding-bottom: 50px;
}
.Hist_Transac h3{
	margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
/*Pay Rent Page Ends here*/
/*Maintenance Request Page start here*/
.MaintDetails{
	padding-top: 10px;
}
.MaintDetails h3{
	margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.MaintDetails label{
	width: 150px;
	padding-right: 10px;
	font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.MaintDetails label span.Required{
	color: red;
}
.MaintDetails input[type="text"]{
	height: 35px;
	background: #efecec;
	width: 400px;
	border: 0;
	padding: 0 15px 0 10px;
	text-transform: uppercase;
	font-weight: 500;
}
.MaintDetails textarea{
	height: 100px;
	background: #efecec;
	width: 400px;
	border: 0;
	padding: 6px 15px 0 10px;
	text-transform: capitalize;
	font-weight: 400;
}
::-webkit-input-placeholder { /* Edge */
  color: #000;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}
::placeholder {
  color: #000;
}
.MaintDetails button{
	display: inline-block;
	background: #d2ac67;
	color: #fff;
	margin-right: 10px;
	padding: 0 25px;
    min-width: 160px;
    height: 50px;
    border:none;
    border-radius: 25px;
    font-size: 14px;
    line-height: 50px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    text-transform: uppercase;
}

.MaintDetails button:hover {
  background-color: #000;
}
/*Maintenance Request Page Ends here*/
footer{
	width: 100%;
	display: flex;
	text-align: center;
	background: #000;
	color: #fff;
	padding: 15px 0;
	font-weight: 300;
}
footer ul{
	display: flex;
	justify-content: center;
}
footer ul li{
	padding: 5px 25px;
}
footer ul li a{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
}
footer ul li.active a, footer ul li a:hover{
	color: #d2ac67;
}
footer ul li p{
	opacity: .6;
}