@charset "UTF-8";
@font-face {
	font-family: 'DroidKufiBold';
	src: url("../font/DroidKufiBold.eot");
	src: url("../font/DroidKufiBold.eot") format("embedded-opentype"), url("../font/DroidKufiBold.woff2") format("woff2"), url("../font/DroidKufiBold.woff") format("woff"), url("../font/DroidKufiBold.ttf") format("truetype"), url("../font/DroidKufiBold.svg#DroidKufiBold") format("svg");
}

@font-face {
	font-family: 'DroidKufiRegular';
	src: url("../font/DroidKufiRegular.eot");
	src: url("../font/DroidKufiRegular.eot") format("embedded-opentype"), url("../font/DroidKufiRegular.woff2") format("woff2"), url("../font/DroidKufiRegular.woff") format("woff"), url("../font/DroidKufiRegular.ttf") format("truetype"), url("../font/DroidKufiRegular.svg#DroidKufiRegular") format("svg");
}
a:focus,
button:focus {
	outline: none !important;
}
button::-moz-focus-inner {
	border: 0;
}
*:focus {
	outline: none;
}
button {
	outline: none;
}
p {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
html p a:hover {
	text-decoration: none;
}
body {
	font-family: "Poppins", sans-serif, "DroidKufiRegular", sans-serif;
	font-size: 14px;
	line-height: 1.57143;
	font-weight: 400;
	color: #151515;
	background-color: #fff;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}
a {
	transition: all 0.3s ease-in-out;
}

a, a:focus, a:active, a:hover {
	text-decoration: none;
}

a, a:focus, a:active {
	color: #00B9D4;
}

a:hover {
	color: #007688;
}

a[href*='mailto'] {
	white-space: nowrap;
}
h1, h3, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	color: #fff;
}
h1 {
	font-size: 32px;
	line-height: 1.3;
	letter-spacing: .01em;
	width: 100%;
}
h3 {
	font-size: 22px;
	line-height: 1.5;
	font-weight: 300;
	width: 100%;
}
h6 {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.57143;
	text-transform: uppercase;
	letter-spacing: .35em;
	color: #fff;
	width: 100%;
}
p {
	letter-spacing: .05em;
	width: 100%;
}
* + p {
	margin-top: 15px;
}

* + h1 {
	margin-top: 5px;
}

* + h3 {
	margin-top: 5px;
}

header.page-header {
	width: 100%;
	height: 80px;
	display: flex;
	position: absolute;
	top: 0;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
	z-index: 10;
}
.LogWidth{
	width:335px;
	max-width:100%;
	cursor:pointer;
}
.logo{
	display: flex;
    align-items: center;
}
.logo img{
	width: 50px;
	height: auto;
	margin-right: 10px;
}
.logo span{
	font-size: 50px;
	line-height: 50px;
    color: #d2ac67;
    font-weight: 700;
    text-transform: uppercase;
}
.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}
.menu li a, .menu li a:not([href]):not([tabindex]){
	line-height: 50px;
	font-size: 15px;
	padding: 0 15px;
	color: #f0f0f0;
}
.menu li a:hover, .menu li.active a, .menu li a:not([href]):not([tabindex]):hover{
	color: #d2ac67;
	cursor:pointer;
}

.context-dark .rights a {
	color: #fff;
}

.context-dark .rights a:hover {
	color: #00B9D4;
}

.list-wrap {
	border: .1px solid transparent;
}

.list-nav {
	margin-bottom: -10px;
	margin-left: -30px;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: .025em;
	color: #151515;
}

.list-nav > * {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 30px;
}

.list-nav li {
	display: inline-block;
}

.list-nav button {
	background: none;
	border: none;
	display: inline-block;
	padding: 0;
	outline: none;
	outline-offset: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

.list-nav button::-moz-focus-inner {
	border: none;
	padding: 0;
}

.list-nav a,
.list-nav button {
	color: inherit;
	transition: .22s;
}

.list-nav a:hover,
.list-nav button:hover {
	color: #00B9D4;
}

.context-dark .list-nav {
	color: #fff;
}

.list-bordered {
	margin-left: -15px;
	margin-right: -15px;
	letter-spacing: .05em;
}

.list-bordered > * {
	padding-left: 15px;
	padding-right: 15px;
}

.list-bordered li {
	position: relative;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
}

.list-bordered a {
	color: inherit;
}

.list-bordered a:hover {
	color: #00B9D4;
}

.context-dark .list-bordered {
	color: rgba(255, 255, 255, 0.5);
}

.context-dark .list-bordered li:not(:last-child)::after {
	background: rgba(255, 255, 255, 0.2);
}
.sectionBanner {
	width: 100%;
	background: url(../images/slider-slide-1.jpg) no-repeat center center;
	background-size: cover;
}
.Banner-slider {
	position: relative;
	overflow: hidden;
	color: #fff;
	height: calc(100vh - 0px);
}
.sectionBanner .CtaText {
	width: 100%;
	padding: 150px 80px 0px 80px;
	text-align: center;
}
.sectionBanner .CtaText h1{
	font-family: 'Rufina', serif;
	color:#fff;
	font-size:35px;
}
.sectionBanner .CtaText p{
	font-family: 'Rufina', serif;
	color:#fff;
	font-size:15px;
}
.Banner-slider .contentSection {
	position: absolute;
	top: calc(50% - 200px);
	z-index: 1;
	overflow: hidden;
	padding: 50px;
	box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 32, 69, 0.93);
	background-image: linear-gradient(-34deg, #d2ac67 0%, #000000 110%);
	width: auto;
	max-width: 50%;
	height: 400px;
	color: #fff;
}
.CtaBtn{
	width: 100%;
	padding-top: 20px;
}
.CtaBtn a{
	display: inline-block;
	background: #000;
	color: #fff;
	margin-right: 10px;
	padding: 0 25px;
    min-width: 160px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    line-height: 50px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    text-transform: uppercase;
}

.CtaBtn a:hover {
  background-color: #d2ac67;
}
.Banner-slider .carousel-parent-shape {
	position: absolute;
	left: 70%;
	transform: translate3d(-70%, 0, 0);
	min-width: 100%;
	fill: #d2ac67;
	opacity: .4;
}
.carousel-item {
  /*height: calc(100vh - 80px);*/
  height: 600px;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.NewsFeed{
	width:100%;
	margin-top: 20px;
	height: auto;
    min-height: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}
.NewsFeed .carousel-item {
    height: auto;
    min-height: 10px;
    text-align: center;
    background:no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Pay Rent Page Start here*/
.PayPage{
	width: 100%;
}
.InnerTittle{
	height: 190px;
	width: 100%;
	background: url(../images/slider-slide-1.jpg) no-repeat top center;
	background-size: cover;
}
.OverLayBg{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.InnerTittle .OverLayBg{
	padding-top:80px;
}
.InnerTittle h2 {
	color: #fff;
}
.DeatailsSec{
	width: 100%;
	padding: 30px 0;
}
.TableBox{
	padding: 18px;
	background: #ebeeef;
	border-radius: 10px;
}
.TableBox .row{
	margin-right: 0;
	margin-left: 0;
	font-size: 14px;
	text-align: center;

}
.TableBox .row>div{
   padding: 0px 15px;
   border-right: 1px solid #ebeeef;
   height: 43px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.TableBox .row:nth-child(even) {background: #efe6d6}
.TableBox .row:nth-child(odd) {background: #ccc}
.TableBox .row.HeadRow{
	font-weight: bold;
	background: #d2ac67;
	color: #000;
}
.TableBox .row>div span{
	padding: 0px 15px;
	font-size: 12px;
	color: #fff;
	height: 24px;
	line-height: 24px;
	font-weight: 400;
	background: #000;
	border-radius: 20px;
	cursor: pointer;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.TableBox .row>div span:hover{
	background: #d2ac67;
}
.TableBox .row>div span.selected, .TableBox .row>div span.Paid{
	background: rgba(210, 172, 103, 0.8);
}
.AmountSec{
	padding-top: 30px;
}
.AmountSec h3{
	margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.AmountSec label{
	width: 150px;
	padding-right: 10px;
	font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.AmountSec label span.Required{
	color: red;
}
.AmountSec input[type="text"]{
	height: 35px;
	background: #efecec;
	width: 150px;
	border: 0;
	padding: 0 15px 0 10px;
	text-transform: uppercase;
	font-weight: 500;
}
.AmountSec button{
	display: inline-block;
	background: #d2ac67;
	color: #fff;
	margin-right: 10px;
	padding: 0 25px;
    min-width: 160px;
    height: 50px;
    border:none;
    border-radius: 25px;
    font-size: 14px;
    line-height: 50px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    text-transform: uppercase;
}

.AmountSec button:hover {
  background-color: #000;
}
.Hist_Transac{
	width: 100%;
	padding-bottom: 50px;
}
.Hist_Transac h3{
	margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
/*Pay Rent Page Ends here*/
/*Maintenance Request Page start here*/
.MaintDetails{
	padding-top: 10px;
}
.MaintDetails h3{
	margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.MaintDetails label{
	width: 150px;
	padding-right: 10px;
	font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.MaintDetails label span.Required{
	color: red;
}
.MaintDetails input[type="text"]{
	height: 35px;
	background: #efecec;
	width: 400px;
	border: 0;
	padding: 0 15px 0 10px;
	text-transform: uppercase;
	font-weight: 500;
}
.MaintDetails textarea{
	height: 100px;
	background: #efecec;
	width: 400px;
	border: 0;
	padding: 6px 15px 0 10px;
	text-transform: capitalize;
	font-weight: 400;
}
::-webkit-input-placeholder { /* Edge */
  color: #000;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}
::placeholder {
  color: #000;
}
.MaintDetails button{
	display: inline-block;
	background: #d2ac67;
	color: #fff;
	margin-right: 10px;
	padding: 0 25px;
    min-width: 160px;
    height: 50px;
    border:none;
    border-radius: 25px;
    font-size: 14px;
    line-height: 50px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    text-transform: uppercase;
}

.MaintDetails button:hover {
  background-color: #000;
}
/*Maintenance Request Page Ends here*/
footer{
	width: 100%;
	display: flex;
	text-align: center;
	background: #000;
	color: #fff;
	padding: 15px 0;
	font-weight: 300;
}
footer ul{
	display: flex;
	justify-content: center;
}
footer ul li{
	padding: 5px 25px;
}
footer ul li a{
	color: #fff;
	font-size: 14px;
	font-weight: 300;
}
footer ul li.active a, footer ul li a:hover{
	color: #d2ac67;
}
footer ul li p{
	opacity: .6;
}
/*CSS lOADER START*/
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}
.overlay .loaderDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #d2ac67;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}
/*CSS lOADER ENDS*/

.txt1 {
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ebeeef;
}
.wrap-login100 {
  width: 670px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.login100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 15px 74px 15px;
}
.login100-form-title-1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  font-weight:600;
}
.login100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54,84,99,0.7);
}
.login100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 93px 190px;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
}
.label-input100 {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  text-align: right;
  position: absolute;
  top: 14px;
  left: -105px;
  width: 80px;

}
.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  background: transparent;
  padding: 0 5px;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  background: #d2ac67;
}
input.input100 {
  height: 45px;
}
.input100:focus + .focus-input100::before {
  width: 100%;
}
.input-checkbox100 {
  display: none;
}
.label-checkbox100 {
  font-size: 13px;
  color: #999999;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}
.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6e6e6;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.input-checkbox100:checked + .label-checkbox100::before {
  color: #d2ac67;
}
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #d2ac67;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login100-form-btn:hover {
  background-color: #333333;
}
@media (max-width: 576px) {
  .login100-form {
    padding: 43px 15px 57px 117px;
  }
}
@media (max-width: 480px) {
  .login100-form {
    padding: 43px 15px 57px 15px;
  }
  .label-input100 {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 5px;
  }
}
.validate-input {
  position: relative;
}
.p-b-30 {padding-bottom: 30px;}
.m-b-18 {margin-bottom: 18px;}
.m-b-26 {margin-bottom: 26px;}
.w-full {width: 100%;}
.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.paymentSuccess{
  max-width: 100%;
  padding-top: 50px;
}
.paymentSuccess img{
  width: 290px;
  max-width: 100%;
}
.Messge{
  padding-top: 20px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.Messge h4{
  font-size: 22px;
  width: 100%;
  padding: 0 20px;
  font-weight: 400;
  text-align: center;
}
.Messge p{
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.Back_Btn{
  display: inline-block;
  background: #d2ac67;
  color: #fff;
  margin-right: 10px;
  padding: 0 25px;
    min-width: 160px;
    height: 50px;
    border:none;
    border-radius: 25px;
    font-size: 14px;
    line-height: 50px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-align: center;
    text-transform: uppercase;
}
.Back_Btn:hover, a.Back_Btn:hover {
  background-color: #000;
  color:#fff;
}
a:not([href]):not([tabindex]).CultrChangeLogin {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: #000;
}
a:not([href]):not([tabindex]).CultrChangeLogin:hover {
    color: #d2ac67;
}
.MobTopMenu{
	display: none;
}
@media (max-width: 1090px) {
	.logo img{
		width:45px;
	}
	.logo span{
		font-size:45px;
	}
}
@media (max-width: 991px) {
	.MobTopMenu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height:100%;
	}
	.MobTopMenu img{
		max-width:45px;
	}
	ul.menu {
		position: fixed;
		width: 240px;
		top: 0;
		right: -240px;
		background: rgba(0,0,0,.8);
		height: 100%;
		transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		-webkit-transition: all ease 0.5s;
		z-index: 1005;
		-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
		box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
		overflow-y: auto;
		display: block;
	}
	.show_menu body{
		overflow: hidden;
	}
	.show_menu ul.menu {
		right: 0;
	}
	.show_menu .MenuOverlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		z-index: 1001;
	}
}
@media (max-width: 575px) {
	.sectionBanner .CtaText{
		padding:25px;
	}
	.sectionBanner .CtaText h1 {
		font-size: 25px;
	}
	.TableBox .row.HeadRow{
		display:none;
	}
	.TableBox .row > div {
		border-bottom: 2px solid #ebeeef;
	}
	.TableBox .row {
		margin-bottom: 20px;
	}
	.TableBox .row:last-child{
		margin-bottom:0;
	}
}
@media (max-width: 479px) {
	.logo img{
		width:30px;
	}
	.logo span{
		font-size:30px;
	}
	.MobTopMenu img{
		max-width:30px;
	}
	.sectionBanner .CtaText h1 {
		font-size: 18px;
	}
	.sectionBanner .CtaText p{
		font-size:13px;
	}
	footer ul li a, footer ul li p {
		font-size: 11px;
	}
}
@media (max-width: 380px) {
	.MaintDetails div.d-flex{
		flex-wrap:wrap;
	}
	.MaintDetails label, .MaintDetails input[type="text"] {
		width: 100%;
		margin-bottom: 15px;
	}
	.MaintDetails input[type="text"] {
		width: 100%;
	}
	.InnerTittle h2{
		font-size:22px;
	}
}