<div class="Hist_Transac">
    <div class="container">
        <h3>Payment History</h3>
        <div class="TableBox">
            <div class="row HeadRow">
                <div class="col-md-2">Month</div>
                <div class="col-md-2">Year</div>
                <div class="col-md-3">Rent Type</div>
                <div class="col-md-3">Amount</div>
                <div class="col-md-2">Status</div>
            </div>
            <div class="row">
                <div class="col-md-2">January</div>
                <div class="col-md-2">2020</div>
                <div class="col-md-3">Hose Rent</div>
                <div class="col-md-3">KWD 25.25</div>
                <div class="col-md-2"><span class="Paid">Paid</span></div>
            </div>
            <div class="row">
                <div class="col-md-2">February</div>
                <div class="col-md-2">2020</div>
                <div class="col-md-3">Hose Rent</div>
                <div class="col-md-3">KWD 25.25</div>
                <div class="col-md-2"><span>Unpaid</span></div>
            </div>
            <div class="row">
                <div class="col-md-2">March</div>
                <div class="col-md-2">2020</div>
                <div class="col-md-3">Hose Rent</div>
                <div class="col-md-3">KWD 25.25</div>
                <div class="col-md-2"><span>Unpaid</span></div>
            </div>
            <div class="row">
                <div class="col-md-2">April</div>
                <div class="col-md-2">2020</div>
                <div class="col-md-3">Hose Rent</div>
                <div class="col-md-3">KWD 25.25</div>
                <div class="col-md-2"><span>Unpaid</span></div>
            </div>
            <div class="row">
                <div class="col-md-2">May</div>
                <div class="col-md-2">2020</div>
                <div class="col-md-3">Hose Rent</div>
                <div class="col-md-3">KWD 25.25</div>
                <div class="col-md-2"><span>Unpaid</span></div>
            </div>
        </div>
    </div>
</div>