<div class="Hist_Transac">
    <div class="container">
        <h3>Payment History</h3>
        <div class="TableBox">
            <div class="row HeadRow">
                <div class="col-md-2">Entry No</div>
                <div class="col-md-2">Doc Number</div>
                <div class="col-md-2">Doc Date</div>
                <div class="col-md-2">Due Date</div>
                <div class="col-md-2">Doc Total</div>
                <div class="col-md-2">Status</div>
            </div>
            <div class="row" data-bind="foreach: HistoryInvoice">
                <div class="col-md-2" data-bind="text: DocEntryNo"></div>
                <div class="col-md-2" data-bind="text: DocNumber"></div>
                <div class="col-md-2" data-bind="text: strDocDate"></div>
                <div class="col-md-2" data-bind="text: strDueDate"></div>
                <div class="col-md-2" data-bind="text: DocTotal"></div>
                <div class="col-md-2" data-bind="text: DocStatus == '1' ? 'unpaid' : 'paid'"></div>
            </div>
        </div>
    </div>
</div>