<input type="hidden" id="hdf_rent_duelist" value="@Url.Action("RetrieveDueInvoices", "Rent")" />
<input type="hidden" id="hdf_rent_historylist" value="@Url.Action("RetrieveHistoricInvoices", "Rent")" />

@section Scripts {
    <script src="~/Scripts/Rent.js"></script>
}

<!-- Payment Page-->
<!-- Title Section-->
<section class="PayPage">
    <div class="InnerTittle">
        <div class="OverLayBg d-flex align-items-center">
            <div class="container d-flex align-items-center">
                <h2>Pay Rent</h2>
            </div>
        </div>
    </div>
    <!-- Rent Section-->
    <div class="DeatailsSec">
        <div class="container">
            <div class="TableBox">
                <div class="row HeadRow">
                    <div class="col-md-1">Entry No</div>
                    <div class="col-md-2">Doc Number</div>
                    <div class="col-md-1">Status</div>
                    <div class="col-md-2">Doc Date</div>
                    <div class="col-md-2">Due Date</div>
                    <div class="col-md-2">Doc Total</div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
                <div class="row" data-bind="foreach: DueInvoice">
                    <div class="col-md-1" data-bind="text: DocEntryNo"></div>
                    <div class="col-md-2" data-bind="text: DocNumber"></div>
                    <div class="col-md-1" data-bind="text: DocStatus"></div>
                    <div class="col-md-2" data-bind="text: strDocDate"></div>
                    <div class="col-md-2" data-bind="text: strDueDate"></div>
                    <div class="col-md-2" data-bind="text: DocTotal"></div>
                    <div class="col-md-2"><span data-bind="click: $parent.addInvoice, text: IsSelected == true ? 'Deselect' : 'Select', css: IsSelected == true ? 'selected' : ''"></span></div>
                </div>
            </div>
        </div>
        <div class="container AmountSec">
            <form id="frm_PayRent" action="@Url.Action("PayRent", "Rent")" method="post">
                <h3>Payment Details</h3>
                <div class="d-flex align-items-center mb-4">
                    <label>Rent</label>
                    <input type="text" name="" value="KWD 245.00" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>Service Charge</label>
                    <input type="text" name="" value="KWD 40.254" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>Total Amount</label>
                    <input type="text" name="" value="KWD 285.254" readonly>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <input type="hidden" name="UDF2" value="" />
                    <input type="hidden" name="UDF3" value="" />
                    <input type="hidden" name="UDF4" value="" />
                    <input type="hidden" name="UDF5" value="" />
                    <button data-bind="click: payInvoices">Proceed to Payment</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Rent History Section-->
    @{ Html.RenderPartial("History"); }
</section>