<!-- Payment Page-->
<!-- Title Section-->
    <section class="PayPage">
        <div class="InnerTittle">
            <div class="OverLayBg d-flex align-items-center">
                <div class="container d-flex align-items-center">
                    <h2>Pay Rent</h2>
                </div>
            </div>
        </div>
        <!-- Rent Section-->
        <div class="DeatailsSec">
            <div class="container">
                <div class="TableBox">
                    <div class="row HeadRow">
                        <div class="col-md-2">Month</div>
                        <div class="col-md-2">Year</div>
                        <div class="col-md-3">Rent Type</div>
                        <div class="col-md-3">Amount</div>
                        <div class="col-md-2">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">February</div>
                        <div class="col-md-2">2020</div>
                        <div class="col-md-3">Hose Rent</div>
                        <div class="col-md-3">KWD 25.25</div>
                        <div class="col-md-2"><span class="selected">Deselect</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">March</div>
                        <div class="col-md-2">2020</div>
                        <div class="col-md-3">Hose Rent</div>
                        <div class="col-md-3">KWD 25.25</div>
                        <div class="col-md-2"><span>Select</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">April</div>
                        <div class="col-md-2">2020</div>
                        <div class="col-md-3">Hose Rent</div>
                        <div class="col-md-3">KWD 25.25</div>
                        <div class="col-md-2"><span>Select</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">May</div>
                        <div class="col-md-2">2020</div>
                        <div class="col-md-3">Hose Rent</div>
                        <div class="col-md-3">KWD 25.25</div>
                        <div class="col-md-2"><span>Select</span></div>
                    </div>
                </div>
            </div>
            <div class="container AmountSec">
                <h3>Payment Details</h3>
                <div class="d-flex align-items-center mb-4">
                    <label>Rent</label>
                    <input type="text" name="" value="KWD 245.00">
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>Service Charge</label>
                    <input type="text" name="" value="KWD 40.254">
                </div>
                <div class="d-flex align-items-center mb-4">
                    <label>Total Amount</label>
                    <input type="text" name="" value="KWD 285.254">
                </div>
                <div class="d-flex align-items-center mb-4">
                    <button>Proceed to Payment</button>
                </div>
            </div>
        </div>
        <!-- Rent History Section-->
        @{ Html.RenderPartial("History"); }
    </section>