<div class="limiter">
    <div class="container-login100 ">
        <div class="wrap-login100">
            <div class="paymentSuccess d-flex justify-content-center">
                <img src="https://localhost:44393/Content/images/success_tick.svg">
            </div>
            <div class="Messge d-flex justify-content-center">
                <h4>Paymen Success</h4>
                <p>Lorem Ipsum doler ametting the secure payment.</p>
                <p>
                    <a href="#" class="Back_Btn">Back to Home</a>
                </p>
            </div>
        </div>
    </div>
</div>