@{
    Layout = null;
}
<input type="hidden" id="HomeURL" value="@Url.Action("Index", "Home")" readonly />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-form-title" style="background-image: url(https://localhost:44393/Content/images/bg-01.jpg);">
                        <span class="login100-form-title-1">
                            Al-Khalid Sign In
                        </span>
                    </div>
                    <form class="login100-form validate-form" data-bind="submit: loginSubmit">
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                            <span class="label-input100">Username</span>
                            <input class="input100" type="text" name="UserName" placeholder="Enter username" data-bind="value:UserName">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="password" name="Password" data-bind="value:Password" placeholder="Enter password">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="flex-sb-m w-full p-b-30">
                            <div class="contact100-form-checkbox">
                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                <label class="label-checkbox100" for="ckb1">
                                    Remember me
                                </label>
                            </div>
                            <div>
                                <a href="#" class="txt1">
                                    Forgot Password?
                                </a>
                            </div>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit" data-bind="click: loginValidate">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="~/Scripts/knockout/knockout-3.5.1.js"></script>
        @*<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js'></script>*@
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/Account.js"></script>